table {
        border:1px solid #000;
        width:80%;
        border-collapse:collapse;
        margin:auto;
        background-color:#fff;
    }
      
    tr {
        vertical-align: top;
    }
      
    td,th {
        border:1px dotted #000;
        padding:.5em;
    }
    
    table.greptable {
        margin: 40px auto; /* T R B L */
    }
    
    table.greptable th {
        text-align:left; 
        width:30%;
    }
